{% extends './base.html' %}


{% block content %}

<div class ="align-middle">
    <div class="container Title">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1> An ERROR occured </h1>
            </div>

    </div>
</div>

    <div class="container-fluid">
        <div class="card startpage-card col-lg-4">
            <h4 class="card-title">Wrong Game ID?</h4>
            <a class="btn btn-light btn-lg btn-block" href="/player/" role="button">Back to Lobby</a>
        </div>

    </div>




{% endblock %}

