{% extends './base.html' %}


{% block content %}

<!-- text -->
    <div class="container-fluid Title">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1> An ERROR occured </h1>
            </div>
        </div>
<!-- button go back to lobby -->
        <div class="row justify-content-center">
            <div class="card error-card col-lg-4 aligned-middle">
                <h4 class="card-title">Wrong Game ID?</h4>
                <a class="btn btn-light btn-lg btn-block" href="/player/" role="button">Back to Lobby</a>
            </div>
        </div>
    </div>

{% endblock %}