{% extends './base.html' %}

{# Import Bootstrap #}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}



<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <div class="d-flex justify-content-center">
                <h1> Game</h1>
            </div>
<!-- java script timer -->
            <script type="text/javascript">
            var timeleft = {{ game_time_s }};
            var downloadTimer = setInterval(function(){
                if(timeleft <= 0){
                clearInterval(downloadTimer);
                }
                document.getElementById("progressBar").value = {{ game_time_s }} - timeleft;
                timeleft -= 1;
            }, 1000);
            </script>
<!-- progress bar -->
            <div class="d-flex justify-content-center">
            <progress value="0" max="{{ game_time_s }}" id="progressBar"></progress>
                </div>
<!-- game form -->

            <form action='.' name="Answers" class="form" method='POST'>
                {% csrf_token %}
                <div class="container">
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-center">
                        {% buttons %}
                        <button class="btn btn-primary" type="submit">submit</button>
                        {% endbuttons %}
                    </div>
                </div>
<!-- java script to autosubmit and redirect after time -->
                <script type="text/javascript">
                window.onload=function(){
                    window.setTimeout(document.Answers.submit.bind(document.Answers), {{ game_time }});
                };
                </script>
            </form>
        </div>
    </div>
</div>
{% endblock %}



