{% extends './base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <div class="d-flex justify-content-center">
                    <h1> Set Game Settings </h1>
                </div>
                <form action='.' class="form" method='POST'>
                    {% csrf_token %}
                    <div class="container">
                        {% bootstrap_form form %}
                        <div class="d-flex justify-content-center">
                            {% buttons %}
                            <button class="btn btn-primary" type="submit">Save & Enter Game</button>
                            {% endbuttons %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

