{% extends './base.html' %}

{# Import Bootstrap #}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}

<div class="container-fluid Game">
    <div class="row justify-content-center">
        <div class=" col-lg-5 ">
            <h1>Game</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. a interdum magna ornare eu. Aliquam faucibus
                lectus in justo mattis consectetur. Curabitur eu lacus id risus placerat scelerisque vel rutrum nulla.
            </p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-group col-lg-5">

<!-- java script timer -->

            <script type="text/javascript">
            var timeleft = {{ game_time_s }};
            var downloadTimer = setInterval(function(){
                if(timeleft <= 0){
                clearInterval(downloadTimer);
                }
                document.getElementById("progressBar").value = {{ game_time_s }} - timeleft;
                timeleft -= 1;
            }, 1000);
            </script>


<!-- progress bar -->

            <style>
                #progressBar {
                  width: 100%;
                  height: 20px;
                  background-color: ddd;
                  text-align: center;
                  line-height: 30px;
                  color: white;
                }

            </style>

            <div class="d-flex justify-content-center<style>">
                <progress value="0" max="{{ game_time_s }}" id="progressBar"></progress>
            </div>


<!-- game form -->
            <form action='.' name="Answers" class="form" method='POST'>
                {% csrf_token %}
                <div class="container">
                    {% bootstrap_form form %}
                        {% buttons %}
                        <button class="btn btn-light btn-lg btn-block" type="submit">Submit</button>
                        {% endbuttons %}
                </div>

<!-- java script to autosubmit and redirect after time -->
                <script type="text/javascript">
                window.onload=function(){
                    window.setTimeout(document.Answers.submit.bind(document.Answers), {{ game_time }});
                };
                </script>
            </form>
        </div>
    </div>
</div>
{% endblock %}



