{% extends './base.html' %}

{# Import Bootstrap #}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}


{% block content %}

<div class="container-fluid Settings">
    <div class="row justify-content-center">
        <div class=" col-lg-4 ">
            <h1>Game Settings</h1>
            <p> <br>
                On the right side you can configure your individual game settings.
                If you have everything set up correctly, copy your <strong>Game ID</strong> and <strong>send it to your friends</strong> so they can join the same game lobby.
                And finally press "Save & Enter Game" to start the game.
                <br> <br>Have fun!</p>
        </div>

        <div class="form-group col-lg-7">
            <form action='.' class="form" method='POST'>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                    <button class="btn btn-light btn-lg btn-block" type="submit">Save & Enter Game</button>
                    {% endbuttons %}
            </form>
        </div>
    </div>
</div>


{% endblock %}

