{% extends './base.html' %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <h1>Leaderboard</h1>

            {% for query in queryset_player_name %}
            {% if forloop.counter == 1 %}
            {{ query.player_name }}
            {% endif %}
            {% endfor %}
            {{ e1 }}
            <br/>
            {% for query in queryset_player_name %}
            {% if forloop.counter == 2 %}
            {{ query.player_name }}
            {% endif %}
            {% endfor %}
            {{ e2 }}
            <br/>
            {% for query in queryset_player_name %}
            {% if forloop.counter == 3 %}
            {{ query.player_name }}
            {% endif %}
            {% endfor %}
            {{ e3 }}
            <br/>
            {% for query in queryset_player_name %}
            {% if forloop.counter == 4 %}
            {{ query.player_name }}
            {% endif %}
            {% endfor %}
            {{ e4 }}
            <br/>
            {% for query in queryset_player_name %}
            {% if forloop.counter == 5 %}
            {{ query.player_name }}
            {% endif %}
            {% endfor %}
            {{ e5 }}
            {% endblock %}

            <br>

            <button onClick="window.location.reload();">Refresh Leaderboard</button>

            <!-- Form end -->
        </div>
    </div>
</div>

