{% extends './base.html' %}

{# Import Bootstrap #}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}

{% if error %}
<div>{{error.message}}</div>
{% endif %}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <div class="d-flex justify-content-center">
                <h1> Enter Game</h1>
            </div>
            <form action="." class="form" method='POST'>
                {% csrf_token %}
                <div class="container">
                    {% bootstrap_form form %}
                    <div class="d-flex justify-content-center">
                        {% buttons %}
                        <button class="btn btn-primary" type="submit" >Start</button>
                        {% endbuttons %}
                    </div>
                </div>
            </form>
            <!-- Form end -->
        </div>
    </div>
</div>


{% endblock %}

<form action="{% url 'game:player-create' %}" method='POST' class="form">
    {% csrf_token %}
    {{ form.as_p }}
    {% bootstrap_form form %}
    <input type='submit' value='Save'/>
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
-->

<!--
<input id="id_start_date" type="something">
var a = document.getElementsById("id_start_date").val;
var a = $("#id_start_date").val();
-->
<!--
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){

    $('#button').click(function(e) {
        var player_name = $("#player_name").val();
        var game_id = $("#game_id").val();
        window.location.replace(" http://127.0.0.1:8000/game/"+player_name+ "/" +game_id);

    });
});
</script>
</head>
<body>

       <input type="text" value="Name" id="player_name">
       <input type="number" value="Game ID" id="game_id">
       <button type="button" id="button">Click Me!</button>
</body>
</html>
-->

