{% extends './base.html' %}

{# Import Bootstrap #}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% block content %}
<!-- Text -->
<div class="container-fluid Lobby">
    <div class="row justify-content-center">
        <div class=" col-lg-5 ">
            <h1>Game Lobby</h1>
            <p>
                Enter your own <strong> Name </strong> and the <strong> Game ID </strong> below if it has not
                already been inserted automatically.
                <br>And finally press "Save & Enter Game" to start the game.
            </p>
        </div>
    </div>
</div>

<!-- Player Form -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="form-group col-lg-5">
            <form action='.' class="form" method='POST'>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-light btn-lg btn-block" type="submit">Save & Enter Game</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
